@import "common";

$cutoutX: 4rem;
$cutoutY: 4rem;
$cardHeaderColor: #8bc34a;

:host {
  display: block;
  height: 100%;
  width: 100%;
}

.card {
  height: 100%;
  width: 100%;
  border-radius: 0 0 1rem 1rem;
  background-color: white;

  &__header {
    padding: 2rem 1rem !important;

    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: $font-size-1;
  }

  &__content {
    padding: 2rem 1rem !important;
    // margin-top: 2rem !important;
    display: flex;
    justify-content: center;
  }
}

.cutout {
  width: $cutoutX;
  height: $cutoutY;
  position: relative;
  overflow: hidden;

  &__container {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
  }

  &__fill {
    flex: 1;

    &--one {
      border-radius: 1rem 0 0 0;
      background-color: $cardHeaderColor;
    }

    &--two {
      border-radius: 0 1rem 0 0;
      background-color: $cardHeaderColor;
    }
  }

  &__circle {
    height: calc($cutoutY - 1rem);
    width: calc($cutoutX - 1rem);
    background-color: $colorCard;
    border-radius: 50%;
    background-color: $cardHeaderColor;
    color: white;
    display: inline-block;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
  }
}

.cutout::before {
  content: "";
  position: absolute;
  bottom: 50%;
  width: 100%;
  height: 100%;
  border-radius: 100%;

  box-shadow: 0px $cutoutX 0px $cutoutY $cardHeaderColor;
}
