:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.title {
  display: flex;
  height: 3rem;
  border: 1px solid yellow;
  box-sizing: border-box;
  justify-content: center;
  width: 100vw;
}

.top-layout {
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex: unset !important;
}

@media only screen and (max-width: 600px) {
  .top-layout {
    width: 100vw !important;
    height: 100vh !important;
  }
}

.phone-not {
  position: fixed;
  top: 3rem;
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
  height: 5rem;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 1rem;
}
