@mixin layout-classes {
  .section-layout {
    display: flex;
    flex: 1;
    position: relative;
    overflow: hidden;
  }

  .button-cont {
    display: flex;
    flex-direction: column;
    height: 3rem;
    box-sizing: border-box;
    align-items: center;
    width: 100%;

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 5rem;
    }
  }
}
