@import "./section-layout";
@import "./material";
@import "./variables.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-color: #cccccc;
}

@include layout-classes;
@include material-integration;
