<card
  class="card-one"
  [content]="true"
  header="Dodaj punkt"
  icon="add"
  [formGroup]="form"
  [column]="true"
>
  <mat-form-field class="control">
    <mat-label>Category</mat-label>

    <input
      type="text"
      placeholder="Pick one"
      aria-label="Number"
      matInput
      formControlName="concreteSpecies"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of concreteSpecies" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="control">
    <mat-label>Species</mat-label>

    <input
      type="text"
      placeholder="Pick one"
      aria-label="Number"
      matInput
      formControlName="spieciesCategory"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of spieciesCategory" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="control">
    <mat-label>Species</mat-label>
    <mat-select formControlName="incidentType">
      <mat-option *ngFor="let option of incidentTypes" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="control control--text">
    <mat-label>Leave a description</mat-label>
    <textarea
      matInput
      placeholder="Ex. It makes me feel..."
      formControlName="description"
    ></textarea>
  </mat-form-field>

  <button
    class="control--btn"
    mat-raised-button
    color="primary"
    (click)="submit()"
  >
    Submit
  </button>
</card>
