<div class="map-container">
  <div class="gmap-container">
    <google-map
      height="100%"
      width="100%"
      [zoom]="zoom"
      [center]="center"
      [options]="options"
    >
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
      >
      </map-marker>

      <map-circle
        *ngFor="let c of ConCircles; let i = index"
        [center]="c.center"
        [options]="c.options"
        [radius]="c.radius"
        (centerChanged)="circleCenterChanged($event, c, i)"
        (radiusChanged)="circleRadiusChanged($event, c, i)"
      >
      </map-circle
    ></google-map>
  </div>
  <div class="gmap-controls">
    <!-- Use custom zoom buttons -->
    <button class="gmap-controls__btn" mat-raised-button (click)="zoomIn()">
      Zoom in
    </button>
    <button class="gmap-controls__btn" mat-raised-button (click)="zoomOut()">
      Zoom out
    </button>
  </div>
</div>
